.user-profile {
    box-sizing: border-box;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 420px;
    max-height: 75vh;
}

.user-profile__title {
    margin: 0 0 24px;
}

.user-profile__title_dark {
    color: #fff;
}
