.header__main-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    flex: 1;
}

.header__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__user-name {
    margin: 5px;
}
