:root {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

#root { /* stylelint-disable-line */
    position: fixed;
    width: 100%;
    height: 99vh;
}

h1,
.header1 {
    font-size: 2.6rem;
}

h2,
.header2 {
    font-size: 2.2rem;
}

h3,
h4,
.header3,
.header4 {
    font-size: 1.8rem;
}

h5,
h6,
.header5,
.header6 {
    font-size: 1.6rem;
}

a,
.link {
    color: #3757c5;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover,
.link:hover {
    color: #f00;
}

.weather {
    position: relative;
    z-index: 0;
}

.weather__city {
    padding-bottom: 2px;
    border-bottom: 1px dashed #3757c5;
    cursor: pointer;
}

.weather__result {
    display: none;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;

    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    border-radius: 3px;
    transform: translate(-25%, -125%);

    z-index: 10;
}

.weather__result--open {
    display: block;
}
