.header__main-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    flex: 1;
}

.header__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__chat-name {
    font-size: 16px;
    margin: 5px;
}

.header__chat-settings {
    color: #fff;
    margin-left: auto;
    margin-right: 20px;

    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header__user-name {
    font-size: 16px;
    margin-left: auto;
    margin-right: 10px;
}
