.header__logo-wrap {
    width: 350px;
    height: 100%;
    flex: 0 0 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu {
    margin: 5px;
    width: 50px;
    text-align: center;
}

.header__logo {
    font-size: 0.85em;
    margin-left: 5px;
}
