.dialog-list__item {
    box-sizing: border-box;
    padding: 10px 20px 10px 14px;
    width: 100%;
    font-size: 1em;
    display: flex;
    align-items: center;
    user-select: none;

    cursor: pointer;
    color: #333;
    transition: all 300ms;
}

.dialog-list__item_dark {
    background: #3f4447;
    color: #eee;
}

.dialog-list__item:hover,
.dialog-list__item_active {
    background: rgba(234, 227, 252, 0.55);
    color: #333;
}

.dialog-list__item_dark:hover,
.dialog-list__item_active.dialog-list__item_dark {
    background: #52575c;
    color: #eee;
}

.dialog-list__item_active {
    pointer-events: none;
}

.dialog-list__dialog-body {
    flex: 1;
    overflow: hidden;
}

.dialog-list__dialog-image {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.dialog-list__dialog-image img {
    width: 100%;
    height: 100%;
}

.dialog-list__dialog-image::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;

    right: -2.5px;
    bottom: -2.5px;

    background: transparent;
    border-radius: 50%;
}

.dialog-list__dialog-image_notify::before {
    background: cyan;
}

.dialog-list__dialog-name,
.dialog-list__last-msg {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-list__last-msg-mine {
    color: blue;
}

.dialog-list__last-msg-mine_dark {
    color: #a8b5be;
}

.dialog-list__dialog-name {
    color: #333;
    margin-bottom: 6px;
}

.dialog-list__dialog-name_dark {
    color: #a8b5be;
}

.dialog-list__last-msg {
    font-size: 0.8em;
}

.dialog-list__last-msg-date {
    margin-left: 10px;
    color: #808080;
    font-size: 0.85em;

    align-self: flex-start;
}

@media screen and (max-width: 700px) {
    .dialog-list__last-msg,
    .dialog-list__last-msg-date,
    .dialog-list__dialog-name {
        display: none;
    }

    .dialog-list__dialog-image {
        flex: 1 0 40px;
        margin-right: 0;
    }
}
