.dialog-list__item {
    box-sizing: border-box;
    padding: 10px 20px 10px 14px;
    width: 100%;
    font-size: 1em;
    display: flex;
    align-items: center;
    user-select: none;

    cursor: pointer;
    color: #333;
    transition: all 300ms;
}

.dialog-list__item:hover,
.dialog-list__item_active {
    background: rgba(234, 227, 252, 0.55);
    color: #333;
}

.dialog-list__item_active {
    pointer-events: none;
}

.dialog-list__dialog-body {
    flex: 1;
    overflow: hidden;
}

.dialog-list__dialog-image {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.dialog-list__dialog-name,
.dialog-list__last-msg {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-list__last-msg-mine {
    color: blue;
}

.dialog-list__dialog-name {
    color: #333;
    margin-bottom: 6px;
}

.dialog-list__last-msg {
    font-size: 0.8em;
}

.dialog-list__last-msg-date {
    margin-left: 10px;
    color: #808080;
    font-size: 0.85em;

    align-self: flex-start;
}
