.profile {
    position: fixed;
    top: 7vh;
    left: 50%;
    z-index: 110;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    max-width: 420px;
    max-height: 75vh;
    padding-bottom: 15px;
    box-sizing: border-box;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transform: translateX(-50%);
}

.profile__heading {
    margin: 0;
}

.profile__fields {
    width: 60%;
    margin-bottom: 16px;
}

.profile__input {
    margin: 5px 0 16px;
}

.profile__avatar {
    width: 128px;
    height: auto;
    display: block;
}

.profile__username {
    margin: 0 0 12px;
    font-size: 20px;
}

.profile__username_dark {
    color: #a8b5be;
}

/*=============================   DROPZONA   =============================*/

.profile__dropzone {
    position: relative;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid transparent;

    cursor: pointer;
    border-radius: 10px;
    transition: border-color 0.2s;
}

.profile__dropzone_disabled {
    pointer-events: none;
}

.profile__dropzone:hover {
    border-color: #e4e4e4;
}

.profile__dropzone:hover > .profile__hover-indicator {
    opacity: 1;
}

.profile__hover-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;

    opacity: 0;
    background: rgba(250, 250, 250, 0.8);

    transition: opacity 0.2s;
}

.profile__hover-indicator::before,
.profile__hover-indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 60px;
    background: #ccc;
    border-radius: 5px;

    transform: translate(-50%, -50%);
}

.profile__hover-indicator::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.profile__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.8);
}
