.user {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;

    color: #000;
    text-decoration: none;
}

.user_selectable {
    cursor: pointer;
}

.user:hover {
    background: rgba(234, 227, 252, 0.55);
}

.user_selected,
.user_selected:hover {
    background: rgba(234, 227, 252, 0.55);
}

.user__avatar {
    width: 42px;
    height: 42px;
    margin-right: 12px;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.user__name {
    font-weight: bold;
    margin-bottom: 6px;
}

.user__login {
    font-size: 12px;
    color: #91a6ba;
}
