.user-full__left {
    display: flex;
    margin-bottom: 24px;
}

.user-full__avatar {
    width: 72px;
    height: 72px;
    margin-right: 20px;
}

.user-full__info {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.user-full__name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.user-full__username {
    font-size: 12px;
    color: #91a6ba;
}

.user-full__actions {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.user-full__action {
    font-size: 12px;
    margin-bottom: 12px;
    color: #3757c5;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.user-full__action:hover {
    text-decoration-color: currentColor;
}
