.dialog-list__item {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-areas: 'i n d' 'i m m';
    font-size: 1em;

    cursor: pointer;
    margin-bottom: 10px;
}

.dialog-list__item--active {
    background: #3757c5;
    color: #fff;
}

.dialog-list__dialog-image {
    grid-area: i;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.dialog-list__dialog-name {
    grid-area: n;
    vertical-align: middle;
}

.dialog-list__last-msg {
    grid-area: m;
    vertical-align: middle;
}

.dialog-list__last-msg-date {
    grid-area: d;
    color: #808080;
    font-size: 0.85em;
    text-align: right;
}
