.contacts {
    display: flex;
    flex-direction: column;

    width: 94%;
    max-width: 420px;
    box-sizing: border-box;
}

.contacts__heading {
    margin: 0;
}

.contacts__main {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    margin-bottom: 16px;
}

.contacts__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.contacts__new {
    align-self: center;
}

.contacts__preloader {
    align-self: center;
    margin: 30px;
}

.contacts__empty {
    margin: 30px;
    text-align: center;
}
