.message {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .message__body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .message__date {
    font-size: 14px;
    opacity: .5;
  }
  
  .message__username {
    margin-bottom: 5px;
    color: blue;
  }
  
  .message__avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }