.chat {
    overflow-y: auto;
    padding: 0 60px;
    height: 100%;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.message__body {
    flex: 1 0 80%;
    margin-left: 20px;
}

.message__text {
    word-break: break-all;
}

.message__date {
    flex: 0 0 auto;
    font-size: 14px;
    opacity: 0.5;
    margin-left: 15px;
}

.message__username {
    margin-bottom: 5px;
    color: blue;
}

.message__avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
