.btn_theme_heading {
    border: none;

    color: #fff;
    background: #515151;
    font-weight: bold;
    opacity: 0.8;
    cursor: pointer;
    outline: none;
    border-radius: 2px;

    transition: opacity 0.2s;
}

.btn_theme_heading:hover {
    opacity: 1;
}

.btn_theme_main {
    border: none;
    padding: 6px 10px;

    background: #fff;
    font-size: 1.3rem;
    color: #515151;
    font-weight: bold;
    text-transform: uppercase;

    border-radius: 2px;
    cursor: pointer;
    outline: none;

    transition: background-color 0.2s;
}

.btn_theme_main:hover {
    background: #f2f6fa;
}
