.header {
    width: 100%;
    height: 48px;
    background: #74669b;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    user-select: none;
}

.header_theme_dark {
    background: #373b3e;
}

@media screen and (max-width: 700px) {
    .header {
        position: relative;
    }
}
