.header__logo-wrap {
    height: 100%;
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

.header__logo {
    font-size: 16px;
    text-transform: uppercase;
}

.header__menu {
    padding-left: 20px;
    padding-right: 30px;
}

.hamburger {
    font: inherit;
    overflow: visible;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger__box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 18px;
}

.hamburger__inner {
    top: 50%;
    margin-top: -2px;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 75ms;
}

.hamburger__inner,
.hamburger__inner:after,
.hamburger__inner:before {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
}

.hamburger__inner:before {
    transition: top 75ms ease 0.12s, opacity 75ms ease;
    top: -6px;
}

.hamburger__inner:after {
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    bottom: -6px;
}

.hamburger_active .hamburger__inner {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);
}

.hamburger_active .hamburger__inner:before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease 0.12s;
    opacity: 0;
}

.hamburger_active .hamburger__inner:after {
    bottom: 0;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
}

@media screen and (max-width: 700px) {
    .header__logo {
        display: none;
    }

    .header__logo-wrap {
        position: static;
        flex: 0 0 64px;
    }
}
