.button {
    border: none;

    cursor: pointer;
    outline: none;
    border-radius: 2px;
}

.button_theme_heading {
    color: #fff;
    background: transparent;
    font-weight: bold;
    opacity: 0.8;

    transition: opacity 0.2s;
}

.button_theme_heading:hover {
    opacity: 1;
}

.button_theme_main {
    padding: 6px 10px;

    background: #fff;
    font-size: 1.3rem;
    color: #515151;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.2s;
}

.button_theme_main:hover {
    background: #f2f6fa;
}
