.chat-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;

    overflow: hidden;
}

.chat-wrapper__input {
    flex: 1;
}

.chat-wrapper__offline {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    background: #fff;
    overflow: hidden;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    color: #ed0000;
}

.chat {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 12px 5%;

    background: #ece9e6;
}

.chat__preloader {
    display: block;
    margin: 12px auto;
}
