.chat-wrapper {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;

    overflow: hidden;
}

.chat-wrapper__input {
    flex: 0 0 auto;
}

.chat {
    overflow-y: auto;
    height: 100%;
    padding: 0 5%;
}

.chat__preloader {
    display: block;
    margin: 12px auto;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.message__body {
    flex: 1 0 80%;
    margin-left: 20px;
}

.message__text {
    word-break: break-all;
}

.message__text p {
    display: block;
    margin: 0 0 12px;
}

.message__text code {
    display: block;
    font-family: monospace;
    font-size: 14px;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 8px 16px;
}

.message__text strong {
    display: block;
    font-weight: bold;
}

.message__date {
    flex: 0 0 auto;
    font-size: 14px;
    opacity: 0.5;
    margin-left: 15px;
    color: #515151;
}

.message__username {
    margin-bottom: 5px;
    color: blue;
}

.message__avatar {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
