.chat-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;

    overflow: hidden;
}

.chat-wrapper__input {
    flex: 1;
}

.chat {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 12px 5%;

    background: #ece9e6;
}

.chat__preloader {
    display: block;
    margin: 12px auto;
}
