body {
    background: #e7ebf0;
}

.app {
    display: grid;
    align-items: stretch;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 350px calc(100% - 350px);
    grid-template-areas: 'header header' 'dialogs chat';

    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;

    background: #fff;

    overflow: hidden;
}

.header {
    grid-area: header;
}

.dialogs {
    grid-area: dialogs;
}

.content {
    grid-area: chat;
}
