body {
    background: #e7ebf0;
}

.app {
    display: grid;
    align-items: stretch;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 350px calc(100% - 350px);
    grid-template-areas: 'header header' 'dialogs chat';

    width: 70%;
    margin: 0 auto;

    background: #fff;

    height: 100vh;
    overflow: hidden;
}

.header {
    grid-area: header;
}

.dialogs {
    grid-area: dialogs;
}

.chat-wrapper {
    padding: 10px 0;
    grid-area: chat;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}
