body {
    background: #e7ebf0;;
}

#root {
    display: grid;
    align-items: stretch;
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-areas:
        "header header"
        "dialogs chat";

    width: 70%;
    margin: 0 auto;

    background: #fff;
}

.header {
    grid-area: header;
}

.dialogs {
    grid-area: dialogs;
}

.chat-wrapper {
    padding: 10px 50px;
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
