.add-contact {
    position: fixed;
    left: 50%;
    top: 12vh;

    display: flex;
    flex-direction: column;
    padding: 24px 35px 15px;
    width: 90%;
    max-width: 350px;
    box-sizing: border-box;

    background: #fff;
    transform: translateX(-50%);
}

.add-contact__heading {
    margin: 0 0 16px;
}

.add-contact__search-zone {
    margin-bottom: 10px;
    overflow: auto;
}

.add-contact__input {
    margin-bottom: 2px;
}

.add-contact__preloader {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 2;
}

.add-contact__preloader-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(255, 255, 255, 0.7);
}

.add-contact__buttons {
    display: flex;
    justify-content: flex-end;
}
