.menu {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    width: 350px;
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #808080;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__list li {
    display: list-item;
    width: 100%;
}

.menu__list-link {
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
}
