.menu {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    width: 100%;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #808080;

    z-index: 10;
}

.menu__item {
    box-sizing: border-box;
    display: block;
    padding: 16px 10px;
    width: 100%;

    color: #000;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;

    transition: background-color 300ms ease-in-out;
}

.menu__item:hover {
    background: rgba(234, 227, 252, 0.55);
}
