.og-data {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    margin-top: 10px;
    padding-left: 12px;
    border-left: 2px solid #74669b;

    text-align: left;
}

.og-data_dark {
    border-left: 2px solid #3f4447;
}

.og-data__image {
    margin-right: 20px;
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}

.og-data__info {
    display: flex;
    flex-direction: column;

    width: 60%;
}

.og-data__title {
    margin: 0;
    font-size: 14px;
}

.og-data__description {
    margin-top: 4px;
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .og-data {
        flex-direction: column;
    }

    .og-data__image {
        margin-right: 0;
        margin-bottom: 16px;
    }
}
