.og-data {
    box-sizing: border-box;
    position: relative;
    display: flex;
    border: 2px solid #74669b;
    margin-top: 10px;
    padding: 0 20px;

    border-radius: 5px;
    background: #f5f5f5;

    text-align: left;
}

.og-data_in-message {
    width: calc(100% - 48px);
    margin-left: 68px;
    border: none;
    border-left: 2px solid #74669b;

    border-radius: 0;
    background: #fff;
}

.og-data__image-link {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.og-data__image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.og-data__info {
    display: flex;
    flex-direction: column;
}

.og-data__title {
    margin: 0;
}

.og-data__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
    padding: 0;
    border: none;

    background: transparent;
    cursor: pointer;
    outline: none;
}

.og-data__close::before,
.og-data__close::after {
    content: '';
    position: absolute;
    top: 0;
    right: 7px;

    width: 2px;
    height: 15px;

    background: #74669b;

    transition: background-color 0.2s;
}

.og-data__close:hover::before,
.og-data__close:hover::after {
    background: #ccc;
}

.og-data__close::before {
    transform: rotate(-45deg);
}

.og-data__close::after {
    transform: rotate(45deg);
}
