.og-data {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    margin-top: 10px;
    padding-left: 12px;
    border-left: 2px solid #74669b;

    background: #ffff;
    text-align: left;
}

.og-data__image-link {
    margin-right: 20px;
}

.og-data__image {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}

.og-data__info {
    display: flex;
    flex-direction: column;

    width: 60%;
}

.og-data__title {
    margin: 0;
    font-size: 14px;
}

.og-data__description {
    margin-top: 8px;
    margin-bottom: 0;
}
