.reactions {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reactions__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;

    align-items: center;
}

.reactions__item {
    border: 1px solid rgba(116, 102, 155, 0.5);
    color: #000;
    border-radius: 4px;
    padding: 4px;
    margin-top: 8px;
    margin-right: 5px;

    user-select: none;
    cursor: pointer;
    transition: all 250ms ease;
}

.reactions__item_plus {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

.reactions__item_dark {
    color: #a8b5be;
}

.reactions__item:hover {
    background: #74669b;
    color: #fff;
}

.reactions__item-count {
    margin-right: 3px;
}
