.dialogs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    user-select: none;
    z-index: 1;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.dialogs__new-dialog-btn {
    padding: 17px;
}

.dialogs::-webkit-scrollbar-track {
    border-radius: 4px;
}

.dialogs::-webkit-scrollbar {
    width: 6px;
}

.dialogs::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f2f5;
}

.dialogs:hover::-webkit-scrollbar-thumb {
    background: #6a7d9bab;
}

@media screen and (max-width: 700px) {
    .dialogs__new-dialog-btn {
        display: none;
    }
}
