.message {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 16px;
}

.message__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.message__date {
    margin-top: 6px;
    font-size: 12px;
    color: #74669b;
}

.message__body {
    min-width: 80px;
    box-sizing: border-box;
    margin-left: 10px;
    background: #fff;
    padding: 6px 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    font-size: 14px;
    border-radius: 3px;

    position: relative;
}

.message__text {
    word-break: break-all;
}

.message__attachment {
    max-width: 100%;
    max-height: 400px;
    height: auto;
}

@media (min-height: 768px) {
    .message__attachment {
        max-height: 500px;
    }
}

@media (min-height: 1080px) {
    .message__attachment {
        max-height: 700px;
    }
}

.message__text:not(:empty) + .message__attachment {
    margin-top: 12px;
}

.message__text p {
    margin: 0 0 12px;
}

.message__text p:last-child {
    margin-bottom: 0;
}

.message__text pre {
    margin: 0;
    box-sizing: border-box;
    display: block;
    font-family: monospace;
    font-size: 14px;
    background: rgba(245, 245, 245, 0.7);
    border-radius: 4px;
    padding: 4px 8px;
    white-space: pre-wrap;

    overflow-x: auto;
}

.message__text strong {
    display: block;
    font-weight: bold;
}

.message_mine {
    flex-direction: row-reverse;
}

.message_mine .message__body {
    margin-left: 0;
    margin-right: 10px;
}

.message_chain .message__avatar {
    display: none;
}

.message_chain .message__body {
    margin-bottom: 1px;
}

.reactions__picker {
    left: 0;
}

.message_mine .reactions__picker {
    left: initial;
    right: 0;
}

.message .weather__result {
    transform: translate(-25%, -125%);
}

.message_mine .weather__result {
    transform: translate(-75%, -125%);
}

.message__actions {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.message_mine .message__actions {
    margin-left: 0;
    margin-right: 10px;
}

.message__action {
    visibility: hidden;
    pointer-events: none;

    cursor: pointer;
}

.message__icon {
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.2);
}

.message__icon:hover {
    color: #74669b;
}

.message__action_type_forward {
    transform: rotateY(-180deg);
}

.message:hover .message__action,
.message_selected .message__action_type_reply {
    visibility: visible;
    pointer-events: initial;
}

.message_selected .message__action_type_reply > .message__icon {
    color: #74669b;
}

.message_sending {
    opacity: 0.5;
}
