.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.overlay__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;

    width: 50%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;

    outline: none;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

.overlay__close::before,
.overlay__close::after {
    content: '';
    position: absolute;
    top: 7vh;
    right: 43px;

    width: 3px;
    height: 26px;

    background: #aaa;
    visibility: visible;

    transition: background-color 0.2s;
}

.overlay__close:hover::before,
.overlay__close:hover::after {
    background: #fff;
}

.overlay__close::before {
    transform: rotate(-45deg);
}

.overlay__close::after {
    transform: rotate(45deg);
}

@media (max-width: 576px) {
    .overlay__close::before,
    .overlay__close::after {
        display: none;
    }
}
