.loader-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-page__spinner {
    width: 128px;
    height: 128px;
}

.loader-page__title {
    font-weight: normal;
    margin-top: 24px;
    color: #555;
}
