body {
    background: #f2f6fa;
}

.app {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;

    background: #fff;
    overflow: hidden;

    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.header {
    width: 100%;
    height: 48px;
}

.split {
    width: 100%;
    height: calc(100% - 48px);
    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.dialogs {
    flex: 0 0 30%;
    z-index: 50;
}

.content {
    overflow: hidden;
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .dialogs {
        flex: 0 0 64px;
    }

    .content {
        flex: 0 0 calc(100% - 64px);
    }
}
