.profile {
    top: 7vh;

    width: 94%;
    max-width: 420px;
    max-height: 86vh;
    box-sizing: border-box;
}

.profile__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__heading {
    margin: 0;
}

.profile__main {
    display: flex;
    flex-direction: column;
    padding: 17px 37px 0;
}

.profile__avatar {
    width: 72px;
    height: 72px;
    margin-right: 12px;

    border-radius: 50%;
}

.profile__data {
    display: flex;
    margin-bottom: 15px;
}

.profile__info {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.profile__name {
    font-size: 2rem;
    font-weight: bold;
}

.profile__username {
    color: #91a6ba;
}

.profile__buttons {
    display: flex;
    justify-content: space-between;
}

.profile__chat-link {
    border: none;
    padding: 6px 10px;

    background: #fff;
    color: #5580a3;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;

    border-radius: 2px;
    cursor: pointer;
    outline: none;

    transition: background-color 0.2s;
}

.profile__chat-link:hover {
    color: #5580a3;
    background: #f2f6fa;
}

