.message-input {
    position: relative;
    background: #fff;
}

.message-input_dark {
    background: #373b3e;
}

.message-input__forwarded {
    width: 100%;
}

.message-input__container {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input__message {
    width: 100%;
    box-sizing: border-box;
    border: none;

    outline: none;
    resize: none;

    font-size: 14px;
    transition: 0.2s box-shadow ease-in-out;
}

.message-input__message_dark {
    background: #373b3e;
    color: #a8b5be;
}

.message-input__message::placeholder {
    opacity: 1;
    transition: opacity 0.2s;
}

.message-input__message:focus::placeholder {
    opacity: 0.6;
}

.message-input__message:disabled {
    background: transparent;
}

.message-input__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input__preloader {
    position: absolute;
    top: 10px;
    right: 10px;
}

.message-input__smiles {
    position: relative;
    display: inline-block;
}

.message-input__smiles-picker {
    position: absolute;
    bottom: 40px;
    right: 0;

    transform: translateX(0);
    z-index: 100;
}

.message-input__button {
    flex: 1 0 auto;
    padding: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.message-input__button {
    color: #999;
}

.message-input__button_dark {
    background: #373b3e;
}

.message-input__button:hover {
    background: initial;
}

.message-input__button_map {
    width: 28px;
    height: 28px;
}

.message-input__icon {
    vertical-align: middle;
}

.message-input__button_active {
    color: #74669b;
}

.message-input__button path {
    transition: fill 0.2s;
}

.message-input__button:hover path {
    fill: #74669b;
}

.message-input__dropzone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    height: 200px;
    box-sizing: border-box;
    border: 2px dashed #74669b;

    color: #aaa;
    background: #e9ebed;
    text-align: center;
}

.message-input__dropzone_over {
    background: #e3e5e7;
    color: #9d9d9d;
}

.message-input__dropzone_display {
    display: flex;
}

@media screen and (max-width: 700px) {
    .message-input__button {
        width: 24px;
        height: 24px;
        margin: 3px;
    }

    .message-input__icon {
        width: 24px;
        height: 24px;
    }

    .message-input__message {
        box-sizing: border-box;
        width: 100%;
        font-size: 12px;
    }

    .message-input__button:hover path {
        fill: #999;
    }
}
