.dialogs__dialogs-search {
    padding: 12px 10px;
    margin: 0;
}

.dialogs__input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 12px 30px;
    background: #fff url('./search.png') no-repeat 8px;
    background-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.67);
    outline: none;
}
